@model Blogger.Models.Post 
@{
    ViewBag.Title = "Write New Post";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<h3>@User.Identity.Name</h3>

@if (Model != null)
{

    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <form asp-controller="Post" asp-action="NewPost" method="Post">

        <div class="form-group">
            <input type="text" name="Title" class="form-control" placeholder="Title" id="usr" value="@Model.Title">
        </div>
        <div>
            <p> http://blogger-mikaelm.azurewebsites.net/ </p> <input type="text" name="Slug" class="form-control" placeholder="Slug" id="usr" lettersonly="true" required>
        </div>
        <br>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Sorry, that url wont work!<p> The name has already been taken or it wasn't in the correct format. Be sure to only use letters and dashes in your slug
        </div>
       
        <div>
            <textarea class=" form-control" name="Text" rows="25" cols="100" required>@Model.Text</textarea>
        </div>
        

        <div>
            <button type="submit" class="btn btn-success btn-lg post-button pull-right">Post</button><br /><br />
        </div>
      </form>
} else { 


    <form asp-controller="Post" asp-action="NewPost" method="Post">

        <p>Write a new post!</p>
        <div class="form-group">
            <input type="text" name="Title" class="form-control" placeholder="Title" id="usr">
        </div>
        <div>
             http://blogger-mikaelm.azurewebsites.net/  <input type="text" data-val="true" name="Slug" class="form-control" placeholder="Slug" id="usr" lettersonly="true" required>
        </div>
        <br>
        <div>
            <textarea class=" form-control" name="Text" rows="25" cols="100" required></textarea>
        </div>

        
            <div>
               <button type="submit"  class="btn btn-success btn-lg post-button pull-right">Post</button><br /><br />
            </div>
        </form>
        <script src="~/lib/jquery-validation/additional-methods.js"></script>




}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
